services:
  auth-mongo:
    image: mongo:7.0
    container_name: auth-mongo
    ports: ["27019:27017"]
    volumes: 
      - auth-mongo-data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5

  auth-api:
    build: .
    container_name: auth-server
    ports: ["4000:4000"]
    env_file: .env
    environment:
      - MONGO_URI=mongodb://auth-mongo:27017/authdb
      - PORT=4000
    depends_on: 
      auth-mongo:
        condition: service_healthy
    
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:4000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

volumes:
  auth-mongo-data:
